/* 
Package ParentTheme
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */

/* Padding */
$p: 10px;
$radius: 4px;

/* Paragraph */
$font-paragraph: sans-serif;
$font-paragraph-size: 15px;
$font-paragraph-line-height: 26px;

/* Title */
$font-title: serif;
$font-title-weight: 400; 
$font-title-line-height: 1.1em;

/* Block */
$max-width-a: 940px;
$max-width-b: 768px;
$max-width-c: 568px;
$max-width-d: 480px;

/*Colors*/
$c-error: red;

/*Gray*/
$c-gray-light: #fafafa;
$c-gray: #adadad;
$c-gray-drk: #a3a3a3;

/*Red*/
$c-red-light: #f5cdca;
$c-red: #dd5951;

/*mixin*/
@mixin border-radius($radius) { -webkit-border-radius: $radius; -moz-border-radius: $radius; -ms-border-radius: $radius; border-radius: $radius; }
@mixin border-radius-top-left($radius) { border-top-left-radius:$radius; -moz-border-radius-topleft:$radius; -webkit-border-top-left-radius:$radius; -o-border-top-left-radius:$radius; }
@mixin border-radius-top-right($radius) { border-top-right-radius:$radius; -moz-border-radius-topright:$radius; -webkit-border-top-right-radius:$radius; -o-border-top-right-radius:$radius; }
@mixin border-radius-bottom-right($radius) { border-bottom-right-radius:$radius; -moz-border-radius-bottomright:$radius; -webkit-border-bottom-right-radius:$radius; -o-border-bottom-right-radius:$radius; }
@mixin border-radius-bottom-left($radius) { border-bottom-left-radius:$radius; -moz-border-radius-bottomleft:$radius; -webkit-border-bottom-left-radius:$radius; -o-border-bottom-left-radius:$radius; }
@mixin box-shadow($shadow) { box-shadow:$shadow; -moz-box-shadow:$shadow; -webkit-box-shadow:$shadow; -o-box-shadow:$shadow; }
@mixin filter-blur($filter) { filter:blur($filter); -webkit-filter:blur($filter); -moz-filter:blur($filter);-o-filter: blur($filter);-ms-filter:blur($filter); }
@mixin transition($transition) { -webkit-transition:$transition; -moz-transition:$transition; -o-transition:$transition; transition:$transition; }
@mixin transitionAll($time) { -webkit-transition:all $time ease-in; -moz-transition:all $time ease-in; -o-transition:all $time ease-in; transition:all $time ease-in; }
@mixin translateY($translateY) { -webkit-transform: translateY($translateY); -moz-transform: translateY($translateY); -o-transform: translateY($translateY); -ms-transform: translateY($translateY); transform: translateY($translateY); }
@mixin translateX($translateX) { -webkit-transform: translateX($translateX); -moz-transform: translateX($translateX); -o-transform: translateX($translateX); -ms-transform: translateX($translateX); transform: translateX($translateX); }
@mixin background-cover($cover) { background-position:center center; background-repeat:no-repeat; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }
@mixin box-sizing($boxSizing) { box-sizing:content-box; -ms-box-sizing:content-box; -moz-box-sizing:content-box; -webkit-box-sizing:content-box; }
@mixin button-standard($button-standard) { background-image: -webkit-gradient( linear, left top, left bottom, color-stop(0, #5880B5), color-stop(1, #3C6290) ); background-image: -o-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -moz-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -webkit-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: -ms-linear-gradient(bottom, #5880B5 0%, #3C6290 100%); background-image: linear-gradient(to bottom, #5880B5 0%, #3C6290 100%); }
$transition: all 0.1s ease-in;

/* Reset */
@import 'reset';
@import 'bootstrap-responsive';

html { height:100%; }
body { line-height:$font-paragraph-line-height; font-family:$font-paragraph; }
#page { position:relative; font-size:$font-paragraph-size; }
.outer-wrap { position:relative; }
.inner-wrap { max-width:$max-width-a; padding-left:$p; padding-right:$p; position:relative; margin:0 auto; text-align:left; }

a, a:visited { text-decoration:none; }

.h1, h1, .h2, h2, .h3, h3, .h4, h4, .h5, h5, .h6, h6 {
	font-family:$font-title; font-weight:$font-title-weight; display:block; line-height:$font-title-line-height; 
	padding-bottom:$p; padding-top:($p/2);
}

.h1, h1 { font-size:46px; }
.h2, h2 { font-size:40px; }
.h3, h3 { font-size:36px; }
.h4, h4 { font-size:30px; }
.h5, h5 { font-size:26px; }
.h6, h6 { font-size:20px; }






/* Forms
#################################################################################################### */
textarea,
input[type="text"],
input[type="password"],
input[type="email"] { 
	font-size:$font-paragraph-size; font-family:$font-paragraph;
	width:95%; padding:6px 2%; color:$c-gray;
	border:none; background:$c-gray-light; @include border-radius(4px);
}
textarea { height:100px; }
label.error { color:$c-error; }
label { cursor:pointer; }

/* remove webkit css
select, input, textarea { -webkit-appearance: none; }*/

::-webkit-input-placeholder {}
:-moz-placeholder {}
::-moz-placeholder {}
:-ms-input-placeholder {}

textarea:hover, textarea:focus,
input[type="text"]:hover,input[type="text"]:focus,
input[type="password"]:hover,input[type="password"]:focus,
input[type="email"]:hover,input[type="email"]:focus {
	
}






/* Buttons
#################################################################################################### */
.btn, 
input[type="submit"],input[type="button"], button {
	cursor:pointer; display:inline-block; padding:6px 20px; background:$c-gray-light; border:none;
	line-height:$font-paragraph-line-height; font-family:$font-paragraph; font-size:$font-paragraph-size;
}

.btn:hover,
input[type="submit"]:hover,input[type="button"]:hover, button:hover {
	
}






/* General Links
#################################################################################################### */


/* Navigation */
.navigation-post {
	display:block; clear:both; text-align:left; padding:($p/4) ($p/2);
	.prev-post { padding-left:($p/2); }
	.next-post { padding-right:($p/2); }
}
.wp-pagenavi {
	a, span { padding:3px 4px; margin:3px; }
}
.navigation-posts { padding:($p/4) ($p/2); display:block; text-align:left; }






/* Post, Page & General Loops
#################################################################################################### */

.hentry { position:relative; }



/* Meta Data */
.meta-data { 
	color:$c-gray; font-family:$font-title; font-style:italic;
	display:block; padding:$p; 
	.post-date, .post-category, .post-comments {
		padding:0 $p 0 0;
	}
}
.read-more-dots {}
a.read_more {}
.entry {
	.aligncenter { display:block; margin:0 auto $p; }
	.alignnone { clear:both; float:none; }
	.alignleft { margin-right:$p; margin-bottom:3px; }
	.alignright { margin-left:$p; margin-bottom:3px; }
	img { max-width:100% !important; height:auto !important; }
	img.wp-smiley { border:none; margin:0; padding:0; box-shadow: none; -moz-box-shadow: none; -webkit-box-shadow: none; }
    p { padding-bottom:($p*2); }
    blockquote {
		p { padding:0; margin:$p ($p*3) ($p*1.5) ($p*1.5); }
	}
	ol, ul { margin:$p 0 ($p*2) 20px; }
	ul { list-style:disc; }
	ol { list-style:decimal; }
	li { padding-bottom:7px; }
	strong {}
	small { font-size:11px; }
	table {
		line-height:18px;
		td { padding-right:7px; vertical-align:top; }
	}
}
.excerpt p { padding-bottom:($p*2); }



/* Gallery Shortcode */
.gallery {
	dl.gallery-item { display:block; float:left; }

	dl dt.gallery-icon {}
	img {}
	.gallery-caption {}
}

.wp-caption {
	max-width:96%; display:block; text-align:center !important; padding:5px; background:#eee;
	p { font-size:11px; line-height:14px; padding:5px 0 7px; }
	img { display:inline; }
	.wp-caption-text {}
}



/* All sitemap style layouts - search, 404, sitemap */
.layout-sitemap .display-list {
	margin:0 2% 20px 0; width:48%; float:left;

	ul { margin:10px 0 0 0; }
	ul ul { margin:0 0 7px 15px; list-style:disc; }
	ul ul.children { padding:0; margin-left:15px; list-style:disc; }

	.site-search { display:block; padding-bottom:10px; }
}



#section-loop-default {
	.hentry { padding:($p*3) 0 ($p*2) 0; }
	.hentry:first-child { padding:0 0 ($p*2) 0; }
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}






/* Widget Areas
#################################################################################################### */
.sidebar {
	.widget-box { margin-bottom:10px; }
}






/* Blocks
#################################################################################################### */

#header {
	#primary-navigation {
		li { display:inline-block; }
		a { display:inline-block; padding:0 20px; margin:0; @include transition($transition); }
		.current-menu-item a, a:hover {}
	}
}
#footer {
	.inner-wrap { text-align:center; padding:$p; }
	#footer-navigation {
		li { display:inline-block; }
		a { display:inline-block; padding:0 10px; margin:0; }
	}
}






/* Comments */
@import 'comments';