/* ID / Section
#################################################################################################### */



#section-loop-default {
	.hentry { padding:30px 0 20px 0; }
	.hentry:first-child { padding:0 0 20px 0; }
	.entry { clear:both; }
	.excerpt { clear:none; padding:0; }
}
