/* 
File Name admin-style.css
Version 1.2
Updated 04.03.13
Package ParentTheme_VC
License GPL v2 - http://www.gnu.org/licenses/old-licenses/gpl-2.0.html
#################################################################################################### */






/* Page Icons
#################################################################################################### */

#icon-vc_general_options-admin_referer { background:url("../../../../../wp-admin/images/icons32.png") no-repeat scroll -492px -5px transparent; }
#icon-vc_general_options-featured_image-admin_referer { background:url('../images/branding/featured-image-icon-32x32.png') left top no-repeat; }






/* Post Type Columns
#################################################################################################### */
.column-pt-image { width:4em; }
.column-featured { width:6em; }
.column-author { width:6em !important; }
.column-date { width:6em !important; }
.column-comments { width:4em !important; }

/*Featured Images*/
.column-width,
.column-height { width:3.5em; }
.column-crop { width:2.5em; text-align:center !important; }
.column-default { width:4.5em; }






/* General
#################################################################################################### */

.form-field input[type="radio"],
.form-field input[type="checkbox"] { width:auto !important; }

.sort-handle { cursor:move; display:block; margin:6px 3px 0; width:12px; height:11px; background:url('../images/sort-handle.png') left top no-repeat; }
.multi-sortable .sort-handle { float:left; }

#header_area .vc-sortable-wrap li { position:relative; }
#header_area .vc-sortable-wrap li input { margin-left:20px; }
#header_area .vc-sortable-wrap li .sort-handle { float:none; position:absolute; left:0; top:0; }










